  body {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  

.body {
    color: #F5F5F5;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    background-color: #212E53;
    text-align: center;
    padding: 20px;


  }
  
  button {
    background-color: #49919E;
    color: #0b0b0b;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .bar-container {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 10px;
    width: 100%;
    margin-top: 5px;
  }
  
  .bar {
    background-color: #4caf50;
    height: 100%;
    border-radius: 5px;
  }
  
  
  button:hover {
    background-color: #45a049;
  }
  
.conte {
  padding: 20px auto;
  width: 70%;
  font-size: 16px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

}
.left{
  background-color: #F5F5F5;
  padding: 10px;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  font-size: 16px;
  
}
.profile{
  height: 90%;
  color: white;
  text-align: center;
  background-color: #333333;
  border-bottom-right-radius: 999px;
  border-bottom-left-radius: 999px;
  box-sizing: border-box;
}

.img {
  width: 60%;
  margin: 40px auto;
  aspect-ratio: 1 / 1; /* Pour garder une forme carrée avant le border-radius */
  padding: 5px;
  border-radius: 50%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Cache les débordements éventuels */
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
  
.contacte {
 
  width: 100%; /* ou une largeur spécifique selon votre mise en page */
}

.contact-title {
  text-align: center;
  margin-bottom: 10px; /* espace entre le titre et les informations */
}

.contact-info {
  text-align: left;
}

.education {
  background-color: #333333;
  font-size: 16px;
  color: white;
  padding: 19px;
  text-align: left;
  
  /* Bordures arrondies */
  border-top-left-radius: 999px; 
  border-top-right-radius: 999px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  /* Largeur adaptée */
  width: 100%;
  box-sizing: border-box; 
  height: 70%;
  

}

.fe{
  margin-top: 45px;
 
  }

.education-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
  color: white;
  margin-top: 7px;
}

.ref{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
    color: white;
   }


.right {
 
  font-size: 16px;
  color: #000;
 

}

.apropos b {
  display: block; /* Transforme la balise <b> en élément de type bloc */
  text-align: center; /* Centre le texte */
  margin-bottom: 10px; /* Ajoute une marge en bas pour l'espacement */
}

.apropos p {
  text-align: justify; /* Justifie le texte */
}

.experience {
  width: 100%;
  font-size: 16px;
}

p {
  position: relative;
}

.date {
  float: right;
}

.comp {
    margin-top: 15px; /* espace en bas de chaque compétence */
    margin-bottom: 5px;
 
  }

.leur{
display: flex;
align-items: center;
justify-content: space-between;
}
.lang1{
  display: block;
}
.langue {
  align-items: center;
  /* float: left; */
  display: flex;
  margin-top: 40px;
}


.loisir {
  align-items: center;
    /* float: left; */
    display: flex;
    margin-top: 40px;
}

.custom-icon {
  background-color: #e0e0e0;
  border-radius: 50%;
  padding: 6px;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  object-fit: cover;
  vertical-align: middle;
}

.contact-item {
  display: flex;
  align-items: center;
}

i {
  background-color: #e0e0e0;
  color: #000;
  border: none;
  border-radius: 50%;
  padding: 6px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: font-size 0.3s ease;
  

}

#download {
  width: 794px;
  min-height: 1123px;
  margin: auto;
  background: white;
  padding: 14px;
  box-sizing: border-box;
  overflow: hidden; 
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 12px;
    padding: 5px;
  }

  .conte {
    flex-direction: column;
    width: 100%;
    padding: 5px;
  }

  .left {
    font-size: 12px;
    padding: 5px;
  }

  .right{
    font-size: 12px;
    
  }
  
  
  .fe{
    height: auto;
    width: 100%;
    font-size: 12px;
    padding: 5px; 
  }

  .ref{
    font-size: 12px;
    
  }

  .education {
    height: auto;
    width: 100%;
    padding: 5px; 
  }

  .education-header {
    font-size: 12px;
    height: auto;
    width: 100%;
    margin-top: 40px;
  }

  .experience {
    height: auto;
    width: 100%;
    padding: 5px;  
  }

  .apropos {
    height: auto;
    width: 100%;
    padding: 5px;  
  }

  .profile {
    height: auto;
    width: 100%;
    padding: 5px;  
  }

  .leur {
    gap: 5px;
  }

  button {
    width: 100%;
    font-size: 14px;
  }

  #download {
    width: 100%;
    min-height: auto;
  }
}
